$mainColor: #ffaa00;

$linksColor: $mainColor;
$hoveredLinksColor: darken($linksColor, 20%);

$generalFontColor: #333;

$heroBgImg: '../images/hero-bg-2.jpg';

$headerFontFamily: 'Varela Round', sans-serif;
$generalFontSize: 16px;