body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: $generalFontColor;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headerFontFamily;
    letter-spacing: .05em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: $linksColor;
    transition: all .5s;

    &:hover {
        color: $hoveredLinksColor;
    }
}