footer.footer
    .main-container
        .about
            .logo Trip Template
            p Qui Lorem amet voluptate amet labore dolore occaecat laborum in. Fugiat nostrud fugiat sit duis aute quis quis fugiat. Voluptate elit excepteur sunt ex proident adipisicing proident exercitation cupidatat magna laboris. Veniam nulla nisi cillum veniam mollit.
        .contact-info
            h4 Contact Info
            p Adipisicing adipisicing amet laborum dolore fugiat esse.
            ul
                li: a(href="#") 
                    i.fas.fa-map-marker-alt                    
                    span 200 College Avenue
                li: a(href="#") 
                    i.fas.fa-envelope                    
                    span contact@email.com
                li: a(href="#")
                    i.fas.fa-phone
                    span +(123) 456 -7890
        .links
            h4 Links
            ul
                li: a(href="#") Blog
                li: a(href="#") About Us
                li: a(href="#") Contact
                li: a(href="#") Sitemap
        hr.divider
        p.copyright © Copyright #{copyrightYear} - All Rights Reserved
        .social-links
            a(href="#" alt="Facebook").social-links__item: i.fab.fa-facebook
            a(href="#" alt="Twitter").social-links__item: i.fab.fa-twitter-square
            a(href="#" alt="LinkedIn").social-links__item: i.fab.fa-linkedin
            a(href="#" alt="Instagram").social-links__item: i.fab.fa-instagram
