extends ../layout/layout.pug

block title
    - var title = "Homepage"

block page_content
    section.header-container
        .header-bg
        header.header
            .main-container
                h1.logo
                    a(href="#") #[i.fas.fa-map-marked] #[=siteTitle]
                nav.nav.main-nav
                    .nav__item.nav__item--active
                        a(href="#") Home
                        nav.nav__sub
                            each index in [0,1,2]
                                .nav__item
                                    a(href="#") Item #{index}
                    .nav__item
                        a(href="#") Pages
                nav.nav.side-nav
                    .nav__item
                        a(href="#") Sign Up
                    .nav__item.nav__item--featured
                        a(href="#") Sign In
        .hero
            .main-container
                .hero-desc
                    h2 Find amazing places for the right price.
                    h3 Discover your next travel.
                label.hero-search(for="hero-search")
                    input#hero-search(type="text", placeholder="What are you looking for?")
                    button #[i.fas.fa-search] Search
    section.section_categories
        .main-container
            a(href="#").category__item
                i.far.fa-futbol
                h4 Sport
            a(href="#").category__item
                i.fas.fa-umbrella-beach
                h4 Relax
            a(href="#").category__item
                i.fas.fa-shopping-bag
                h4 Shopping
            a(href="#").category__item
                i.fas.fa-theater-masks
                h4 Culture
            a(href="#").category__item
                i.fas.fa-child
                h4 Family
    p Aliqua commodo laboris eiusmod velit sunt et. Laborum officia sunt mollit excepteur adipisicing anim esse.