extends ../layout/layout.pug

block title
    - var title = "Homepage"

mixin placeItem(title, imagePath, oldPrice, newPrice, ...categories)
    - var fromPrice = "From <del>$" + oldPrice + "</del>";
    - var newPrice = "$" + newPrice + " <small>/night</small>";
    .places__item
        .places__image
            img(src= imagePath)
        .places__details
            a(href="").places__title= title
            .places__categories
                each ctg in categories
                    a(href="#")= ctg
            .places__divider
            .places__old-price !{fromPrice}
            .places__new-price !{newPrice}

block page_content
    section.header-container
        .header-bg
        header.header
            .main-container
                h1.logo
                    a(href="#") #[i.fas.fa-map-marked] #[=siteTitle]
                nav.nav.main-nav
                    .nav__item.nav__item--active
                        a(href="#") Home
                        nav.nav__sub
                            each index in [0,1,2]
                                .nav__item
                                    a(href="#") Item #{index}
                    .nav__item
                        a(href="#") Pages
                nav.nav.side-nav
                    .nav__item
                        a(href="#") Sign Up
                    .nav__item.nav__item--featured
                        a(href="#") Sign In
        .hero
            .main-container
                .hero-desc
                    h2 Find amazing places for the right price.
                    h3 Discover your next travel.
                label.hero-search(for="hero-search")
                    input#hero-search(type="text", placeholder="What are you looking for?")
                    button #[i.fas.fa-search] Search
    section.section.section-categories.section--padding
        .main-container
            a(href="#").category__item
                i.far.fa-futbol
                h4 Sport
            a(href="#").category__item
                i.fas.fa-umbrella-beach
                h4 Relax
            a(href="#").category__item
                i.fas.fa-shopping-bag
                h4 Shopping
            a(href="#").category__item
                i.fas.fa-theater-masks
                h4 Culture
            a(href="#").category__item
                i.fas.fa-child
                h4 Family
    section.section.section-places.section--grey.section--padding
        .main-container
            h2 Top Trending Places
            .divider
            .places
                +placeItem('Grand Flex Hotel', '../images/place-1.jpg', 500, 400, 'Argentina', 'South America')
                +placeItem('Bravo Hotel', '../images/place-2.jpg', 300, 250, 'Rome', 'Italy', 'Europe')
                +placeItem('American Way Hotel', '../images/place-3.jpg', 150, 100, 'California', 'USA', 'North America')

    p Aliqua commodo laboris eiusmod velit sunt et. Laborum officia sunt mollit excepteur adipisicing anim esse.